{% include "masterlayout/header.html"%}
{% include "masterlayout/topnav.html"%}
{% include "masterlayout/sidebar.html"%}
{% block content %}
<!-- Main Content -->
{% load static %}
<style>
    #dt-2_filter{float:right}
    .section-body{overflow-x:auto}

#filters1 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}
.dropdown-menu>li>a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
}

.indtd{
border-left:1px solid;
}

.modal fade show{
padding-right:0px !important;
top:0 !important;
}
</style>
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Data Capture Process</h1>
        </div>

        <div class="section-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="my-view" class="container" id="my-view">
                            <div class="panel with-nav-tabs panel-success">
                                <div class="tab" role="tabpanel">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item"><a class="dt-tabs nav-link active" data-toggle="tab"
                                                                href="#t1" role="tab">Case List</a></li>
                                        <li class="nav-item"><a class="dt-tabs nav-link" data-toggle="tab"
                                                                href="#t7" role="tab">Data Pending To Verify</a></li>
                                        <li class="nav-item"><a class="dt-tabs nav-link" data-toggle="tab" href="#t2"
                                                                role="tab">Data Pending To Verify</a></li>
                                        <li class="nav-item"><a class="dt-tabs nav-link" data-toggle="tab" href="#t4"
                                                                role="tab">Ready To Generate CAM Report</a></li>
                                        <li class="nav-item"><a class="dt-tabs nav-link" data-toggle="tab" href="#t5"
                                                                role="tab">Completed</a></li>
                                        <li class="nav-item"><a class="dt-tabs nav-link" data-toggle="tab" href="#t6"
                                                                role="tab">Error Logs</a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="t1">
                                            <table cellspacing="0"
                                                   class="data-table table table-striped dataTable no-footer"
                                                   id="dt-1"
                                                   width="100%">
                                                <thead>
                                                <tr>
                                                    <th>SR. NO.</th>
                                                    <th>CASE ID</th>
                                                    <th>CREATED ON</th>
                                                    <th>CASE STATUS</th>
                                                    <th>ACTION</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>

                                        <div class="tab-pane fade active in" id="t7">
                                            <table cellspacing="0"
                                                   class="data-table table table-striped dataTable no-footer"
                                                   id="dt-7"
                                                   width="100%">
                                                <thead>
                                                <tr>
                                                    <th>SR. NO.</th>
                                                    <th>CASE ID</th>
                                                    <th>CREATED ON</th>
                                                    <th>CASE STATUS</th>
                                                    <th>ACTION</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>

                                        <div class="tab-pane fade" id="t2">
                                            <div class="row">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-6" style="text-align:center">
                                                    <div class="form-group">
                                                        <select class="form-control btn" id="excaple"
                                                                style="border:solid 1px">
                                                            <option>Bank Of Baroda</option>
                                                            <option>State Bank Of India</option>
                                                            <option>Axis Bank</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3"></div>
                                            </div>
                                            <div>
                                                <table class="table-responsive" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <strong>Original Statement</strong>
                                                        </td>
                                                        <td style="padding:20px;">
                                                            <strong>Extracted Data</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="vertical-align:top">
                                                            <embed style="padding:10px;"
                                                                   src="{% static 'upload/BOB.pdf' %}" width="350"
                                                                   height="250"
                                                                   type="application/pdf">
                                                        </td>
                                                        <td class="indtd" style="padding:20px">

                                                            <table cellspacing="0"
                                                                   class="data-table table table-striped dataTable no-footer"
                                                                   id="dt-2"
                                                                   width="100%">
                                                                <thead>
                                                                <tr>
                                                                    <th>SR. NO.</th>
                                                                    <th>Date</th>
                                                                    <th>Description</th>
                                                                    <th>Cheque No.</th>
                                                                    <th>Debit</th>
                                                                    <th>Credit</th>
                                                                    <th>Balance</th>
                                                                    <th>Value Date</th>
                                                                    <th>Value Date</th>
                                                                </tr>
                                                                </thead>
                                                            </table>


                                                        </td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-6" style="text-align:center;margin:0px 0px 15px 0px">
                                                    <button class="btn btn-success"
                                                            style="padding: 5px 100px 5px 100px;" type="button">Save
                                                        Data
                                                    </button>
                                                </div>
                                                <div class="col-md-3"></div>
                                            </div>

                                        </div>


                                        <div class="tab-pane fade" id="t4">
                                            <table cellspacing="0"
                                                   class="data-table table table-striped dataTable no-footer"
                                                   id="dt-4"
                                                   width="100%">
                                                <thead>
                                                <tr>
                                                    <th>SR. NO.</th>
                                                    <th>FILE NAME</th>
                                                    <th>USER ID</th>
                                                    <th>UPLOAD TIME</th>
                                                    <th>TOTAL RECORD</th>
                                                    <th>ACTION</th>

                                                </tr>
                                                </thead>
                                            </table>
                                        </div>

                                        <div class="tab-pane fade" id="t5">
                                            <table cellspacing="0"
                                                   class="data-table table table-striped dataTable no-footer"
                                                   id="dt-5"
                                                   width="100%">
                                                <thead>
                                                <tr>
                                                    <th>SR.NO</th>
                                                    <th>Batch ID</th>
                                                    <th>APP Form No.</th>
                                                    <th>APS NO.</th>
                                                    <th>Branch</th>
                                                    <th>Branch Name</th>
                                                    <th>Entry Date</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                            </table>
                                        </div>

                                        <div class="tab-pane fade" id="t6">
                                            <table cellspacing="0" class="table table-bordered datatable dataTable"
                                                   id="dt-6" width="100%">
                                                <thead>
                                                <tr>
                                                    <th>SR.NO</th>
                                                    <th>APP FORM NO</th>
                                                    <th>SECTION</th>
                                                    <th>EXCEPTION DETAIL</th>
                                                    <th>DATE TIME</th>
                                                    <th>USER</th>

                                                </tr>
                                                </thead>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Modal DATA POP UP-->
<div class="modal fade" id="location" tabindex="-1" role="dialog" aria-labelledby="location" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">BANK Statement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{ url 'profiles:edit_details' }" method="post" enctype="multipart/form-data"
                  id="location">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                                                <div class="col-md-3"><input type="text" name="appID" id="appId" value=""/></div>
                                                <div class="col-md-6" style="text-align:center">
                                                    <div class="form-group">
                                                        <select class="form-control btn" id="listofbankstats"
                                                                 style="border:solid 1px">
                                                            <option>Bank Of Baroda</option>
                                                            <option>State Bank Of India</option>
                                                            <option>Axis Bank</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3"></div>
                                            </div>
                               <div>
                                                <table class="table-responsive" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <strong>Original Statement</strong>
                                                        </td>
                                                        <td style="padding:20px;">
                                                            <strong>Extracted Data</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="vertical-align:top">
                                                            <embed style="padding:10px;" src="{% static 'upload/BOB.pdf' %}" width="350" height="250" type="application/pdf">
                                                        </td>
                                                        <td class="indtd" style="padding:20px">

                                                            <table cellspacing="0"
                                                                   class="data-table table table-striped dataTable no-footer"
                                                                   id="dt-modal"
                                                                   width="100%">
                                                                <thead>
                                                                <tr>
                                                                    <th>SR. NO.</th>
                                                                    <th>Date</th>
                                                                    <th>Description</th>
                                                                    <th>Cheque No.</th>
                                                                    <th>Debit</th>
                                                                    <th>Credit</th>
                                                                    <th>Balance</th>
                                                                    <th>Value Date</th>
                                                                </tr>
                                                                </thead>
                                                            </table>


                                                        </td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-6" style="text-align:center;margin:0px 0px 15px 0px">
                                                    <button class="btn btn-success"
                                                            style="padding: 5px 100px 5px 100px;" type="button">Save
                                                        Data
                                                    </button>
                                                </div>
                                                <div class="col-md-3"></div>
                           </div>

<!--                        <div class="row">-->
<!--                            <div class="col-md-3"></div>-->
<!--                            <div class="col-md-6" style="text-align:center">-->
<!--                                <div class="dropdown" style="text-align:center;">-->
<!--                                    <button class="btn btn-primary dropdown-toggle" type="button"-->
<!--                                            data-toggle="dropdown" style="margin-bottom:14px">Select Bank From-->
<!--                                        List-->
<!--                                        <span class="caret"></span></button>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li><a href="#">Bank Of Baroda</a></li>-->
<!--                                        <li><a href="#">State Bank Of India</a></li>-->
<!--                                        <li><a href="#">Axis Bank</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-3"></div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <table id="example" class="table table-striped table-bordered" style="width:100%">-->
<!--                                <thead>-->
<!--                                <tr>-->
<!--                                    <th>S.No</th>-->
<!--                                    <th>Date</th>-->
<!--                                    <th>Description</th>-->
<!--                                    <th>Cheque No</th>-->
<!--                                    <th>Debit</th>-->
<!--                                    <th>Credit</th>-->
<!--                                    <th>Balance</th>-->
<!--                                    <th>Value Date</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->

<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->

<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td></td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                    <td>System Architect</td>-->
<!--                                    <td>00123456</td>-->
<!--                                    <td>50000</td>-->
<!--                                    <td>10000</td>-->
<!--                                    <td>5000000</td>-->
<!--                                    <td>2011/04/25</td>-->
<!--                                </tr>-->
<!--                                </tbody>-->
<!--                                <tfoot>-->
<!--                                <tr>-->
<!--                                    <th>S.No</th>-->
<!--                                    <th>Date</th>-->
<!--                                    <th>Description</th>-->
<!--                                    <th>Cheque No</th>-->
<!--                                    <th>Debit</th>-->
<!--                                    <th>Credit</th>-->
<!--                                    <th>Balance</th>-->
<!--                                    <th>Value Date</th>-->
<!--                                </tr>-->
<!--                                </tfoot>-->
<!--                            </table>-->
<!--                        </div>-->
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
<script src="{% static 'js/jquery.min.js' %} "></script>
<script src="{% static 'js/datacapture/toastr.min.js' %}"></script>
<script src="{% static 'js/datacapture/sweetalert/sweetalert.min.js' %}"></script>

<script type="text/javascript">
	$(document).ready(function(){
	toastr.options = {
    	    "closeButton": true, // true/false
    	    "debug": false, // true/false
    	    "newestOnTop": false, // true/false
    	    "progressBar": false, // true/false
    	    "positionClass": "toast-bottom-right", // toast-top-right / toast-top-left / toast-bottom-right / toast-bottom-left
    	    "preventDuplicates": false,
    	    "onclick": null,
    	    "showDuration": "5000", // in milliseconds
    	    "hideDuration": "1000", // in milliseconds
    	    "timeOut": "5000", // in milliseconds
    	    "extendedTimeOut": "1000", // in milliseconds
    	    "showEasing": "swing",
    	    "hideEasing": "linear",
    	    "showMethod": "fadeIn",
    	    "hideMethod": "fadeOut"
	   }

        $(".dt-tabs").click(function(){
        var tab = $(this).attr("href");
        selTab(tab);
       });

        selTab('#t1');
});

$(document).on("click", ".modalclick", function () {
     var appid = $(this).data('id');
     $(".modal-body #appId").val(appid);
     $.ajax({
        url: "/api/appdatacapturetracking/"+appid,
        type: "POST",
        data: {appid: appid},
        success: function(response){
          // Add response in Modal body
          $('.modal-body').html(response);
          // Display Modal
          $('#location').modal('show');
        }
      });

});

function selTab(tab){

    if(tab == "#t2"){
        setDT2();
    }

    if(tab == "#t7"){
        setDT7();
    }

    if(tab == "#t5"){
        //setDT5();
    }

    if(tab == "#t6"){
       // setDT6();
    }
    setDT1();
    $(tab).addClass('show');
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
       $($.fn.dataTable.tables(false)).DataTable()
          .columns.adjust();
    });

}

function setDT1(){
        table = $('#dt-1').DataTable({
        processing: true,
        serverSide: true,
       "ajax": {
        "url": "/api/getfiledata/",
        "type": "GET"
         },
        columns: [
            {render: function ( data, type, row, meta ) { return  meta.row+meta.settings._iDisplayStart+1; }},
            { data: "case_id" },
            { data: "created_on" },
 			{ data: "app_status" },
 			{
                mRender: function ( file_name, type, data ) {
                return '<a href="#" onclick="startDataCapture('+data['case_id']+')"><i class="fa fa-play" aria-hidden="true"></i></a>';
                 }
             }
        ],
        dom: '<"toolbar"lB<"#filters1">f>rt<"bottom"ip><"clear">',
        initComplete: function () {
        },
        "bDestroy": true,
        });

  }

trnrefno=0;
var table='';
let id = 0;
function setDT2(){
        table = $('#dt-2').DataTable({
        processing: true,
        serverSide: true,
       "ajax": {
        "url": "/api/appdatacapturetracking/",
        "type": "GET"
         },
        columns: [
            {render: function ( data, type, row, meta ) { return  meta.row+meta.settings._iDisplayStart+1; }},
            { data: "bank_stat" },
            { data: "date" },
 			{ data: "description" },
 			{ data: "cheque_no" },
 			{ data: "credit" },
 			{ data: "debit" },
 			{ data: "balance" },
 			{ data: "value_date" }
        ],
        dom: '<"toolbar"lB<"#filters1">f>rt<"bottom"ip><"clear">',
        initComplete: function () {
            $("#filters1").html('<a class="getAllBranch"><span style="font-size:18px" class="fa fa-play" data-toggle="tooltip" title="All Play"/></a>');
             getAllBranch();
        },
        "bDestroy": true,
        });

     table.MakeCellsEditable({
        "onUpdate": myCallbackFunction
      });

  }

 function myCallbackFunction(updatedCell, updatedRow, oldValue) {
    console.log("The new value for the cell is: " + updatedCell.data());
    console.log("The old value for that cell was: " + oldValue);
    console.log("The values for each cell in that row are: " + JSON.stringify(updatedRow.data()));
    $.ajax({
    url:"/api/updatedatacapture/"+updatedRow.data(),
    type:"POST",
    data : updatedRow.data(),
    success : function(data){
    try{
    location.reload();
    }catch(e){
    console.log("Error");
    }
    },error:function(err){

    }

    })


}


 function setDT4(){
	    $('#dt-4').DataTable({
        processing: true,
        serverSide: true,
       "ajax": {
        "url": "/api/getfiledata/",
        "type": "GET"
         },
        columns: [
            {render: function ( data, type, row, meta ) { return  meta.row+meta.settings._iDisplayStart+1; }},
            { data: "file_name" },
 			{ data: "user_id" },
 			{ data: "upload_time" },
 			{ data: "total_record" },
 			{
                mRender: function ( file_name, type, data ) {
                return '<a href="#" onclick="exportData('+data['id']+')"><i class="fa fa-download" style="font-size:18px" aria-hidden="true"></i></a>';
                 }
             },
        ],
        "bDestroy": true
        })
  }

 function setDT5(){
	    $('#dt-5').DataTable({
        processing: true,
        serverSide: true,
       "ajax": {
        "url": "/api/completeddata/",
        "type": "GET"
         },
        columns: [
            {render: function ( data, type, row, meta ) { return  meta.row+meta.settings._iDisplayStart+1; }},
            { data: "batchid" },
 			{ data: "appformno" },
 			{ data: "apsno" },
 			{ data: "branch" },
 			{ data: "branch_name" },
 			{ data: "entrydate" },
 			{ data: "startdate" },
 			{ data: "enddate" },
 			{
                mRender: function ( file_name, type, data ) {
                return '<a href="#" onclick="startDataCapture('+data['tracking_id']+','+data['apsno']+')"><i class="fa fa-play" aria-hidden="true"></i></a> ';
                 }
             },
        ],
        "bDestroy": true
        })
  }

 function setDT6(){
	    $('#dt-6').DataTable({
        processing: true,
        serverSide: true,
       "ajax": {
         "url": "/api/errortracking/",
        "type": "GET"
         },
        columns: [
            {render: function ( data, type, row, meta ) { return  meta.row+meta.settings._iDisplayStart+1; }},
            { data: "txtappformno" },
 			{ data: "exception_class" },
 			{ data: "exception_dtl" },
 			{ data: "datetime" },
 			{ data: "userid" },
        ],
        "bDestroy": true,
        })
  }


function setDT7(){
        table = $('#dt-7').DataTable({
        processing: true,
        serverSide: true,
       "ajax": {
        "url": "/api/getfiledata/",
        "type": "GET"
         },
        columns: [
            {render: function ( data, type, row, meta ) { return  meta.row+meta.settings._iDisplayStart+1; }},
            { data: "case_id" },
            { data: "created_on" },
 			{ data: "app_status" },
 			{
                mRender: function ( file_name, type, data ) {
                return '<a href="#location" data-toggle="modal" data-id='+data['id']+' data-target="#location" class="modalclick" ><i class="fa fa-play" aria-hidden="true"></i></a>';
                 }
             }
        ],
        dom: '<"toolbar"lB<"#filters1">f>rt<"bottom"ip><"clear">',
        initComplete: function () {
        },
        "bDestroy": true,
        });

  }


  function startAction(userid,trnrefno){

    $("#row_"+trnrefno).addClass("running disabled");
    $("#wait").show();
    $("#wait-loading-img").removeClass("none");
    $.ajax({
        url:'',
        type:"POST",
        data:{'userid':userid,'trnrefno':trnrefno},
        dataType: 'json',
        cache:false,
        success: function(data){
            toastr["success"]("Automation Completed.");
            $("#row_"+trnrefno).removeClass("running disabled");
            $("#wait").hide();
            $("#wait-loading-img").addClass("none");
            console.log(JSON.parse(data));
        },
        error: function(request,status,errorThrown) {
            toastr["error"]("Something went wrong!");
            $("#row_"+trnrefno).removeClass("running disabled");
            $("#wait").hide();
            $("#wait-loading-img").addClass("none");
            console.log(errorThrown);
            console.log(JSON.parse(request.responseText));
        }
    })

}

function startDataCapture(appid){
    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    table = $('#dt-2').DataTable({
        processing: true,
        serverSide: true,
       "ajax": {
        "url": "/api/appdatacapturetracking/",
        "type": "GET"
         },
        columns: [
            {render: function ( data, type, row, meta ) { return  meta.row+meta.settings._iDisplayStart+1; }},
            { data: "bank_stat" },
            { data: "date" },
 			{ data: "description" },
 			{ data: "cheque_no" },
 			{ data: "credit" },
 			{ data: "debit" },
 			{ data: "balance" },
 			{ data: "value_date" }
        ],
        dom: '<"toolbar"lB<"#filters1">f>rt<"bottom"ip><"clear">',
        initComplete: function () {
            $("#filters1").html('<a class="getAllBranch"><span style="font-size:18px" class="fa fa-play" data-toggle="tooltip" title="All Play"/></a>');
             getAllBranch();
        },
        "bDestroy": true,
        });

     table.MakeCellsEditable({
        "onUpdate": myCallbackFunction
      });
}


function exportData(id){
    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    $("#wait").show();
    $("#wait-loading-img").removeClass("none");
    $.ajax({
        url:'exportData',
        type:"POST",
        data:{'id':id},
        dataType: 'json',
        cache:false,
        headers:{"X-CSRFToken": $crf_token},
        success: function(data){
            if(data == 1)
            {
                alert("File Generated Successfully.")
                setDT4()
            }
            else
            {
                alert("Somthing went wrong..")
                setDT4()
            }
        },
        error: function(request,status,errorThrown) {
            toastr["error"]("Something went wrong!");
            $("#row_"+trnrefno).removeClass("running disabled");
            $("#wait").hide();
            $("#wait-loading-img").addClass("none");
            console.log(errorThrown);
            console.log(JSON.parse(request.responseText));
        }
    })
}

function showInfo(trnrefno){
    alert("Info Click");
    toastr["info"]("TRN REFERENCE NO: "+trnrefno+" is ready for automation.");
}

</script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'admin/assets/modules/nicescroll/jquery.nicescroll.min.js' %} "></script>
<script src="{% static 'admin/assets/js/scripts.js' %} "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
<script src="{% static 'admin/assets/modules/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/datatableedit.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>