<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Manage Client Nodes &mdash; RPA PANEL</title>

{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'admin/assets/img/favicon.png' %}">
<!-- General CSS Files -->
<link rel="stylesheet" href="{% static 'admin/assets/modules/bootstrap/css/bootstrap.min.css' %} ">
<link rel="stylesheet" href="{% static 'admin/assets/modules/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}" type="text/css"/>
<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'admin/assets/css/style.css' %} ">
<link rel="stylesheet" href="{% static 'admin/assets/css/custom.css' %} ">
</head>
<body>