{% extends "master.html" %}
{% block content %}
<!-- Main Content -->
{% load static %}
<div class="main-content">
    {% if messages %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">

        {% for message in messages %}

        <strong>Success !</strong> {{ message }}.

        {% endfor %}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">

            <span aria-hidden="true">&times;</span>

        </button>

    </div>

    {% endif %}
    <section class="section">
        <div class="section-header">
            <h1>Manage Process</h1>
            <div class="card-header-action" style="margin-left:auto">
                <a href="{% url 'createnode' %}" id="create-contact" class="btn btn-primary">Add Process
                    <i class="fas fa-plus"></i></a></div>
        </div>
        <div class="section-body">
            <table class="data-table table table-striped dataTable no-footer table-hover" id="datatables">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>IP</th>
                    <th>Port</th>
                    <th>Process ID</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="modal fade" id="confirm" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
                        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
